<template>
    <!-- Spinner -->
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <h4 class="head_new">Documents Certificate</h4>
    <div style="width:80%; height:500;" class="slds-align_absolute-center">
        <!--Lightning carousel-->
        <lightning-carousel if:true={componentLoaded} class="slds-no-print" disable-auto-scroll=false>
            <template for:each={documentData} for:item="data" for:index="index">
                <lightning-carousel-image
                id={data.id}
                src={data.url} key={data.id}
                header="Certificate"
                description={data.description}
                data-id={data.id}
                data-content-version-id={data.contentVersionId}>
                </lightning-carousel-image>
            </template>
        </lightning-carousel>
    </div>
    
</template>